<div class="form-group {{form.htmlClass}}">
  <div ng-class="{'col-sm-9 col-sm-offset-3': !form.notitle, 'col-sm-12': form.notitle}">
	<button
        sf-field-model="replaceAll"
        class="btn btn-xs btn-default form-button {{ form.fieldHtmlClass }}"
        ng-click="retrieveMetadata()"
        retrieve-metadata
	ng-class="{'disabled': !model.doi}"
      >
        <i class="fa fa-barcode"></i> Retrieve Datacite Metadata
      </button>
    <span
      class="text-success"
      ng-show="model.datacite_metadata">
      <i class="glyphicon glyphicon-ok"></i>
    </span>
  </div>
  </div>
</div>
